<body style="font-weight:100;"><h2 style="text-align: center;"><span style="font-size: x-large;">&nbsp;</span></h2>
<table border="0" frame="above"><caption>
<h2>Challenge 9: Create a Module</h2>
</caption>
<tbody>
<tr>
<th scope="col">
<h3 style="text-align: left;"><span style="color: #000000; font-size: 18pt;"><span style="text-decoration: underline;">Estimated Time:</span><em>&nbsp;10-15 minutes</em></span></h3>
<p style="text-align: left;" style="font-weight:100;">Modules are used to organize course content by weeks, units, or whatever organizational structure works for your course. With modules, you are essentially creating a one-directional linear flow of what you would like your students to do.&nbsp;You can use Modules to: </span></span></p>
<ul style="text-align: left;">
<li><span style="font-size: 14pt;">create prerequisite activities that students must complete before moving on in the course</span></li>
<li><span style="font-size: 14pt;">track student progress through a sequence of learning activities</span></li>
<li><span style="font-size: 14pt;">organize course content by unit, day, week, topic or Outcome</span></li>
</ul>
<h2 style="text-align: left;"><span style="color: #000000; font-size: 18pt;"><span style="text-decoration: underline; line-height: 20px;">Challenge Directions:</span></span></h2>
<p style="text-align: left;"><span style="font-size: 14pt;">In this Challenge, create a Module to organize everything you've created. Add the following content to the Module:</span></p>
<ol style="text-align: left;">
<li><span style="font-size: 14pt;">Lesson Plan Page</span></li>
<li><span style="font-size: 14pt;">Discussion</span></li>
<li><span style="font-size: 14pt;">Quiz</span></li>
<li><span style="font-size: 14pt;">Assignment</span></li>
</ol>
<p style="text-align: left;"><span style="font-size: 14pt;">To get started click on the Modules tab in the <span style="text-decoration: underline;">Navigation Bar</span> &gt; Click the blue <span style="color: #3366ff;">Create a Module</span> button in the upper right hand corner of the screen&nbsp;<img src="https://fullcoll.instructure.com/courses/12628/files/390672/preview" alt="create a module button" width="178" height="42" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390672" data-api-returntype="File" />&gt; Give your Module a new title &gt; Select the option to Lock the Module until a given date and or set a Prerequisites having students follow a series of tasks in sequential order &gt; Finally, click Add Module.<em><br /></em></span></p>
<h4 style="text-align: left;"><span style="text-decoration: underline; color: #000000; font-size: 14pt;">To Add Content:</span></h4>
<p style="text-align: left;"><span style="font-size: 14pt;"><span style="color: #000000;">After you have created a Module you can add a variety of content by clicking the + button at the top of each Module. <img src="https://fullcoll.instructure.com/courses/12628/files/390605/preview" alt="Module drop down menu" width="101" height="26" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390605" data-api-returntype="File" />&gt; Click the drop down menu to add some content. You can add a/an:</span></span></p>
<ul style="text-align: left;">
<li><span style="font-size: 14pt;"><span style="color: #000000;"><span style="line-height: normal;">Assignment</span></span></span></li>
<li><span style="font-size: 14pt;"><span style="color: #000000;"><span style="line-height: normal;">Discussion</span></span></span></li>
<li><span style="font-size: 14pt;"><span style="color: #000000;"><span style="line-height: normal;">Quiz</span></span></span></li>
<li><span style="font-size: 14pt;"><span style="color: #000000;"><span style="line-height: normal;">Page</span></span></span></li>
<li><span style="font-size: 14pt;"><span style="color: #000000;"><span style="line-height: normal;">File</span></span></span></li>
</ul>
<p style="text-align: left;"><span style="font-size: 14pt;"><img src="https://fullcoll.instructure.com/courses/12628/files/390632/preview" alt="Important" width="77" height="54" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390632" data-api-returntype="File" />When you add a new item, it is important to fill out the empty fields that appear such as Page Name etc...</span></p>
<p style="text-align: left;"><span style="font-size: 14pt;"><img class="img" title="Click to embed imgres.jpg" src="https://fullcoll.instructure.com/courses/12628/files/390632/preview" alt="Important" width="77" height="55" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390632" data-api-returntype="File" />It is important to make sure to publish your Module and all of the contents in it be visible for students to access.</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="text-decoration: underline; color: #000000; font-size: 14pt;">To Publish a Module:</span></p>
<p style="text-align: left;"><span style="color: #000000; font-size: 14pt;">To publish a Module click the little <span style="color: #808080;">gray</span> cloud icon next to each Module Title as well as any other items you wish for students to view. You will know when a Module or item within a Module is published once the little gray cloud turns <span style="color: #008000;">green</span>. Modules and items within a Module can be Published and Unpublished at any time. See examples below.</span></p>
<p style="text-align: left;"><span style="color: #000000; font-size: 14pt;"><img src="https://fullcoll.instructure.com/courses/12628/files/390620/preview" alt="Unpublished example" width="163" height="50" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390620" data-api-returntype="File" />= Unpublished<br /></span></p>
<p style="text-align: left;"><span style="color: #000000; font-size: 14pt;"><img src="https://fullcoll.instructure.com/courses/12628/files/390611/preview" alt="Published example" width="163" height="66" data-api-endpoint="https://fullcoll.instructure.com/api/v1/courses/12628/files/390611" data-api-returntype="File" />= Published<br /></span></p>
<p style="text-align: left;"><span style="font-size: 14pt;"><span style="line-height: 20px;">Once you've created your&nbsp;</span></span></p>
</th>
</tr>
</tbody>
</table>
</body>